.sm-icons{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}

.contact{
    margin-top: 50px;
    padding: 30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a img {
    width: 25px;
}

input{
    border: 1px solid grey;
    margin-bottom: 10px;
}


textarea,
input{
    width: 500px;
    border:none;
    border-bottom: 1px solid black;
}

.send-button{
    width: 100px;
    margin-top: 10px;
    border:none;
    background-color: black;
    color:white;
    border-radius: 20px;
}

.contact-form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (max-width: 750px) {
    textarea,
    input{
        width: 70vw;
    }
}